body {
  margin-left: 50px;
}
.title {
  color: red;
}
#www {
  background-color: black;
  color: white;
}
#internet,
#browser {
  border: 1px solid black;
}
input[type='button'] {
  border: 1px solid blue;
}
div > p {
  border: 1px solid green;
}
div > p:hover {
  background-color: green;
}
.box {
  background-color: purple;
  width: 100px;
  height: 100px;
}
#box1 {
  margin-bottom: 10px;
}
#box2 {
  margin-top: 30px;
}
#box3 {
  margin-top: 10px;
  background-color: aqua;
}
